  <div id="featured">
    <%= image_tag "#{@featured[0].image}" %>
    <h3 id="name"><%= @featured[0].name %></h3>
  </div>

<hr />

  <div id="new">
    <% @new_products.each do |product| %>
      <%= render :partial => "product", :object => product, :locals => { :show_description => false } %>
    <% end %>
  </div>

<hr />

  <div id="updated">
    <% @updated_products.each do |product| %>
      <%= render :partial => "product", :object => product, :locals => { :show_description => false } %>
    <% end %>
  </div>