<% if @product.empty? %>
  <p>No results found for <%= params[:keywords] %></p>  
<% else %>
  <% @product.each do |product| %>
    <%= render :partial => "product", :object => product, :locals => { :show_description => false } %>
  <% end %>
<% end %>
